* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: #05032E;
}


header {
  background-color: white;
}

#logo {
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 8px;
  text-align: left;
  /*float:left; */
}

#welcome {
  display: inline-block;
  position: relative;
  padding-top: 4px;
  padding-bottom: 18px;
  padding-left:12px;
  text-align:left;
  vertical-align: middle;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#layout {
  display: block;
  position: relative;
  padding: 10px;
  max-width: 770px;
  text-align: left;
  font-size: 17px;
  align-content: center;
}

aside {
  display: inline-block;
  position: relative;
  float: right;
}

footer {
  display: block;
  position: relative;
  text-align: center;
}